mat-toolbar {
  background: var(--toolbar-bg-color);

  .spacer {
    flex: 1 1 auto;
  }

  nav {
    a {
      :hover {
        background: var(--nav-active-link-color);
      }
      &.router-link-active {
        background: var(--nav-active-link-color);
      }
    }
  }

  .menu-toggle {
    display: none;
  }

  @media screen and (max-width: 768px) {
    nav {
      display: none;
    }
    .menu-toggle {
      display: block;
    }
  }
}
.menu-nav {
  width: 100%;
  border-radius: 0px;
}
