<section class="wrapper">
  @for(chart of (chartConfigs | async)!; track chart){

  <div class="container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div>
          <mat-card-title>{{ chart.title }}</mat-card-title>
          <button
            class="menu-btn"
            mat-icon-button
            [matMenuTriggerFor]="editMenu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...,</p>
      </mat-card-content>
    </mat-card>
  </div>
  }
</section>

<!-- menu -->
<mat-menu #editMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Edit</button>
    <button mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
