@media only screen and (max-width: 768px) {
  .mobile-modal {
    height: 100% !important;
    width: 100vw !important;
    max-width: 100vw !important;

    & .mat-mdc-dialog-container .mdc-dialog__surface {
      border-radius: 0;
    }
  }
}
