<section class="charts">
  <!-- Start date range picker -->
  @if(((chartConfigs | async)?.length??0)>0){
  <mat-form-field class="align-self-flex-end mt-8 mr-8" appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [min]="minDate"
      [max]="maxDate"
      [formGroup]="range"
      [rangePicker]="picker"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (range.controls.start.errors) {
    <mat-error>Invalid start date</mat-error>
    } @if (range.controls.end.errors) {
    <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
  }
  <!-- End date range picker -->

  <!-- Start empty placeholder -->
  @else {
  <section
    class="m-20 no-chart flex justify-center flex-direction-column align-items-center gap-1 text-center"
  >
    <img src="assets/svg/no-data.svg" />
    <p>📈 Oops! It looks like you don't have any charts yet.</p>
    <a [routerLink]="['/', 'settings']">Create here! 🚀</a>
  </section>
  }
  <!-- End empty placeholder -->

  <!-- Start charts list -->

  @for (chart of chartConfigs | async; track chart) {
  <section class="chart-container">
    <app-generic-chart
      [startDate]="range.value.start || undefined"
      [endDate]="range.value.end || undefined"
      [chartData]="chart"
    ></app-generic-chart>
  </section>
  }
</section>
