<section class="charts">
  @for (chart of (chartConfigs | async)!; track chart) { @switch (chart.type) {
  @case ('line') {

  <section class="chart-container">
    <app-line-chart></app-line-chart>
  </section>

  } @case ("candlestick") {

  <section class="chart-container">
    <app-stock-chart></app-stock-chart>
  </section>

  } @case ("map") {

  <section class="chart-container">
    <app-map-chart></app-map-chart>
  </section>

  } @case ("gantt") {

  <section class="chart-container">
    <app-gantt-chart></app-gantt-chart>
  </section>

  } } }
</section>
